/*--- Common ---*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 24px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 32px auto;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    margin-bottom: 18px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(79, 96, 167);
    text-transform: uppercase;
    margin-bottom: 18px;
}

p {
    font-size: 16px;
}

.item {
    margin-bottom: 8px;
}

.section {
    margin-bottom: 80px;
}

/*--- Menu ---*/
.menu-bar-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 28px 0px;
    backdrop-filter: blur(50px);
    padding: 0 24px;
    align-items: center;
}

.menu-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
}

.link-My-Hobby {
    color: #FF914D;
}

.nav-list {
    display: flex;
}

@media screen and (max-width: 768px) {
    .menu-bar {
        height: 96px;
        justify-content: center;
    }
}

@media screen and (max-width: 512px) {
    .menu-bar {
        height: 80px;
    }

    .nav-link {
        font-size: 12px;
    }

    .nav-list {
        display: grid;
        justify-items: center;
        justify-content: center;
        row-gap: 4px;
    }
}

.nav-item:not(:first-child) {
    margin-left: 48px;
}

@media screen and (max-width: 512px) {
    .nav-item:not(:first-child) {
        margin-left: 0px;
    }
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.nav-link:active {
    opacity: 0.5;
}

/*--- Hero Section ---*/
.hero-title {
    font-size: 120px;
    font-weight: 600;
    padding-top: 200px;
    color: rgb(38, 38, 38);
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 100px;
        font-weight: 600;
        padding-top: 150px;
    }
}

@media screen and (max-width: 512px) {
    .hero-title {
        font-size: 60px;
        font-weight: 600;
        padding-top: 100px;
    }
}

.hero-section {
    background-image: 
    linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url(https://images.unsplash.com/photo-1627163439134-7a8c47e08208?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-size: cover;
    background-position: center center;
    height: 720px;    
}

@media screen and (max-width: 768px) {
    .hero-section {
        height: 520px;
    }
}

@media screen and (max-width: 512px) {
    .hero-section {
        height: 320px;
    }
}

/*--- Portfolio Section ---*/
/*--- Follow Me Section ---*/
.follow-list {
    display: flex;
}
.follow-logo {
    width: 40px;
    border-radius: 50%;
    margin-left: 24px;
}

.follow-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}

.not-margin {
    margin-bottom: 0px;
}

@media screen and (max-width: 375px) {
    .follow-me {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 18px;
    }

    .follow-logo {
        margin: 18px 0px 0px 18px;
    }
}

/*--- Projects ---*/
.click-link {
    font-weight: inherit;
    font-style: italic;
    color: black;
}

.click-link:hover {
    color:  #7149D4;
    text-decoration: underline;
}

.click-link:active {
    opacity: 0.5;
}


.container-inline {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 0px 24px 0px;
}

.p-project {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 12px;
}

.main {
    background: white;
    border-radius: 10px;
    padding: 24px 24px;
    column-gap: 24px;
}

.line-list-01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    width: 100%;
}

.line-list-02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .line-list-01 {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 512px) {
    .line-list-01 {
        grid-template-columns: 1fr 1fr;
        }
}

/*--- Contact Section ---*/
.button {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(79, 96, 167);
    color: white;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 20px;
}


.contact-icon {
    margin-right: 12px;
    width: 16px;
}

.contact-list {
    display: grid;
    row-gap: 24px;
    justify-items: center;
    justify-content: center;
}

/*--- Effects ---*/
.hover-elevate {
    transition: box-shadow 0.1s ease-out 0s, transform 0.1s ease-out 0s;
    cursor: pointer;
}
  
.hover-elevate:hover {
    box-shadow: rgba(32, 32, 32, 0.05) 0px 16px 16px 0px,
      rgba(42, 42, 42, 0.05) 0px 8px 8px 0px,
      rgba(49, 49, 49, 0.05) 0px 4px 4px 0px,
      rgba(45, 45, 45, 0.05) 0px 2px 2px 0px,
      rgba(35, 35, 35, 0.05) 0px 64px 64px 0px,
      rgba(49, 49, 49, 0.05) 0px 32px 32px 0px;
    transform: translateY(-10px);
}
  
.hover-elevate:active {
    box-shadow: none;
}